WebServices Session 1/WebServicesAssignment1/WebContent/wsdl/Temperature.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://webServices.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://webServices.com" xmlns:intf="http://webServices.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://webServices.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="changeFahrToCelsius">
    <complexType>
     <sequence>
      <element name="Fahr" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="changeFahrToCelsiusResponse">
    <complexType>
     <sequence>
      <element name="changeFahrToCelsiusReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="changeFahrToCelsiusResponse">

      <wsdl:part element="impl:changeFahrToCelsiusResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="changeFahrToCelsiusRequest">

      <wsdl:part element="impl:changeFahrToCelsius" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Temperature">

      <wsdl:operation name="changeFahrToCelsius">

         <wsdl:input message="impl:changeFahrToCelsiusRequest" name="changeFahrToCelsiusRequest">

       </wsdl:input>

         <wsdl:output message="impl:changeFahrToCelsiusResponse" name="changeFahrToCelsiusResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TemperatureSoapBinding" type="impl:Temperature">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="changeFahrToCelsius">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="changeFahrToCelsiusRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="changeFahrToCelsiusResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TemperatureService">

      <wsdl:port binding="impl:TemperatureSoapBinding" name="Temperature">

         <wsdlsoap:address location="http://localhost:8080/WebServicesAssignment1/services/Temperature"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
